<!doctype html>
<title>Stats</title>
<!-- Sample Jinja template -->
<body>
<h2>all the stats</h2>
  {{placeholder_stats_all}}
<h3>rate of get_hits over get_missed</h3>
  {{placeholder_stats_get_hits_rate}} %
<h3>memcached memory used in Bytes (total 64Meg)</h3>
  {{placeholder_stats_memcached_mem_used}} Bytes
<h3>percentage of memcached memory used percentage</h3>
  {{placeholder_stats_memcached_mem_used_percentage}} %
</body>
